@CHARSET "UTF-8";

.xforms-long-input
.xforms-value 
{
 	width: 300px;
}

.progress-bar
{
  	background: url(../resources/scs_progress_bar.gif) no-repeat;
  	width: 114px; 
  	height: 14px; 
}

/* .cw-StackPanelHeader {  */
/* font-size: 10px; */
/* }  */

.claro .dojoxCalendarEvent.Calendar1 .bg {
  background-color: #00AA00 !important;
}
.claro .dojoxCalendarEvent.Calendar1.Hovered .bg {
  background-color: #00FF00 !important;
}
.claro .dojoxCalendarEvent.Calendar1.Selected .bg {
  background-color: #004400 !important;
}
.claro .dojoxCalendarEvent.Calendar2 .bg {
  background-color: #0000AA !important;
}
.claro .dojoxCalendarEvent.Calendar2.Hovered .bg {
  background-color: #0000FF !important;
}
.claro .dojoxCalendarEvent.Calendar2.Selected .bg {
  background-color: #000044 !important;
}


