/**
 * Some of the examples make use of the Silk icon set by Mark James http://www.famfamfam.com/lab/icons/silk/
 *
 */

.icon-prev,
.icon-previous
{
    background: url(../images/arrow_left.png) no-repeat left center !important;
}

.icon-next
{
    background: url(../images/arrow_right.png) no-repeat left center !important;
}

.icon-calendar
{
    background: url(../images/calendar.png) no-repeat left center !important;
}

body {
	font-family:helvetica,tahoma,verdana,sans-serif;
	padding:20px;
    padding-top:32px;
    font-size:13px;
}
p {
	margin-bottom:15px;
}
h1 {
	font-size:large;
	margin-bottom:20px;
}
h2 {
	font-size:14px;
    color:#333;
    font-weight:bold;
    margin:10px 0;
}

pre.code{
	background: #F8F8F8;
	border: 1px solid #e8e8e8;
	padding:10px;
	margin:10px;
	margin-left:0px;
	border-left:5px solid #e8e8e8;
	font-size: 12px !important;
	line-height:14px !important;
}

a
{
	text-decoration:none;
}

a:hover
{
	text-decoration:underline;
}


.sch-event-endsoutside
{
	-moz-border-radius-topright:0 !important;
	-moz-border-radius-bottomright:0 !important;
	-webkit-border-radius-top-right:0 !important;
	-webkit-border-radius-bottom-right:0 !important;
}

.sch-event-startsoutside
{
	-moz-border-radius-topleft:0 !important;
	-moz-border-radius-bottomleft:0 !important;
	-webkit-border-radius-top-left:0 !important;
	-webkit-border-radius-bottom-left:0 !important;
}

.sch-event
{
    -webkit-box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3);
    -moz-box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3); 
    -ms-box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3); 
    box-shadow: 1px 1px 1px rgba(150, 150, 150, 0.3); 
    border-radius:3px;
    border:1px solid Turquoise;
}
