<div>

<table class="optionValue">
    <tr>
        <td>${_labels}</td>
        <td><div dojoType="dijit.form.CheckBox" dojoAttachPoint="labels"></div></td>
    </tr>
    <tr>
        <td>${_labelOffset}</td>
        <td><div dojoType="dijit.form.NumberSpinner" constraints="{min:-30,max:30,places:0}" dojoAttachPoint="labelOffset"></div></td>
    </tr>
    <tr>
        <td>${_precision}</td>
        <td><div dojoType="dijit.form.NumberSpinner" constraints="{min:0,max:6,places:0}" dojoAttachPoint="precision"></div></td>
    </tr>
    <tr>
        <td>${_startAngle}</td>
        <td><div dojoType="dijit.form.NumberSpinner" constraints="{min:-180,max:180,places:0}" dojoAttachPoint="startAngle"></div></td>
    </tr>
</table>

</div>